<div id="javascript-info" class="hidden"
  data-scrapbookId=<%= @scrapbook.id %>>
</div>

<div id="nav-case"></div>



<div class="share">
  <span>Share this #PartyTag Scrapbook on Facebook!</span>
  <div class="fb-share-button" data-href="http://www.thepartytag.com/scrapbooks/<%=@scrapbook.id%>" data-width="100px" data-type="button"></div>
</div>

<div id="canvas-container-display">
  <img class='display-canvas' src=<%= @scrapbook.canvas %>>

</div>





<div id="fb-root" >
</div>



<%= javascript "scrapbooks.js", "dynamic-canvas.js", "palette.js", "html2canvas.js" %>


<script>
var scrapid = $("#javascript-info").data("scrapbookID");
FB.ui({
  app_id: 220875081424380,
  method: 'feed',
  link: 'http://www.thepartytag.com/scrapbooks/' + ,
  picture: 'http://www.thepartytag.com/scrapbooks/' + '.png',
  name: "The Party Tag"
  description: 'I made a scrap book using ThePartyTag!',
}, function(response){});</script>
