<div id="javascript-info" class="hidden"
  data-scrapbookId=<%= @scrapbook.id %>>
</div>

<div id="nav-case"></div>

<div class="fb-share-button" data-href="http://www.thepartytag.com/scrapbooks/" data-width="100px" data-type="button"></div>

<div id="canvas-container-display">
  <img class='display-canvas' src=<%= @scrapbook.canvas %>>
</div>
<%= javascript "scrapbooks.js", "dynamic-canvas.js", "palette.js", "html2canvas.js" %>

<div id="fb-root" >
</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=522181411222799";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
