<div id="nav-case"></div>
<h1 class="landing">Welcome to The Party Tag!</h1>
<hr>
<h2 class="landing">How it works: </h2>
<ol class="landing">
  <li>Make an event</li>
  <li>designate a hashtag</li>
  <li>tell your friends to tag their posts</li>
</ol>
<hr>
<h2 class="landing">It's that easy.</h2>
<h1 class="landing">Then come to us and make scrapbooks with your friends' Instagram and Twitter posts</h2>

  <h2 class="landing">   To start, <%= link_to("Sign in with facebook", "/auth/facebook") %> </h2>
