<div id="nav-case"></div>

  <div class="userevents">
      <% @events.each do |event| %>
        <h3><%= link_to event.title, "/events/#{event.id}" %></h3>
        <% event.scrapbooks.each do |scrapbook| %>
          <a href=<%= "/scrapbooks/#{scrapbook.id}" %>>
          <img class='preview' src=<%= scrapbook.canvas %>>
        </a>
        <% end %>
        <div class="new-scrapbook preview">
          <%= link_to "new", "/events/#{event.id}" %>
        </div>

    <% end %>
  </div>


