body {
  font-family: Arial;
}
.nav {
  position: fixed;
  width: 100%;
  margin: 0px;
  background-color: #2c3e50;
  color: #bdc3c7;
  font-size: 24px;
  padding-bottom: 10px;
  z-index: 101;
}
.nav h2 {
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}
.nav a {
  color: #bdc3c7;
}
.nav ul {
  float: right;
  text-align: right;
}
.nav li {
  padding-top: 25px;
  padding-bottom: 5px;
  display: inline-block;
  margin-right: 15px;
  font-size: 18px;
}
.second li {
  margin-top: 14px;
  padding: 0px;
  font-size: 16px;
}
.nav-case{
  position: static;
  min-height: 90px;
}
.second {
  float: left;
  display: inline-block;
  color: #3DDDFF;
}
h2.second {
  font-size: 20px;
  margin-top: 22px;
  padding: 0px;
  padding-left: 25%;
}
.second a {
   color: #3DDDFF;
}
.event-info {
  text-align: center;
  margin: 15px;
}
.no-books#tabs {
  max-width: 40%;
  float: left;
}
.no-books h1 {
  font-size: 24px;
}
.no-books div {
  display: block;
  text-align: center;
}
.scrapbooks {
display: none;
margin: 15px;
text-align: center;
}
.no-books #canvas {
  width: 400px;
  height: 100px;
  background-color: #bdc3c7;
  padding: 2%;
  margin-right: 10%;
}
.no-books#container {
  background-color: white;
}
.book {
  width: 600px;
  overflow: scroll;
}
#container{
  clear: top;
  position: relative;
  max-width: 100%;
  min-width: 1200px;
  overflow: scroll;
  background-color: #ecf0f1;
}
#saved {
  display: none;
}
#buttons {
  text-align: center;
  background-color: #2980b9;
  background-image: none;
  border: none;
  border-radius: 0px;
  padding: 0px;
  display: inline-block;
  float: left;
  margin: 0px;
  position: fixed;
  z-index: 100;
}
#tabs {
  background-color: #2980b9;
  background-image: none;
  border: none;
  border-radius: 0px;
  padding: 0px;
  display: inline-block;
  float: left;
  margin: 0px;
  position: fixed;
  height: 600px;
  overflow: scroll;
  z-index: 100;
  border: none;
}
#tabs-div {
}
#buttons ul li, #button {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-image: none;
  background-color: #3498db;
  width: 25%;
  border-top: 1px solid #2c3e50;
  border-left: 3px solid #2c3e50;
  border-right: 1px solid #2c3e50;
  margin-top: 5px;
  padding: 1%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 0px;
}
#button {
  width: 70%;
  border-bottom: 3px solid #2c3e50;
  border-radius: 10px;
}
#buttons a {
  color: black;
}
#buttons a:hover {
  color: blue;
}
#buttons ul {
  margin-top: 5px;
  margin-left: 3%;
  margin-bottom: 5px;
  background-color: #2980b9;
  background-image: none;
  border: none;
  text-align: center;
  border-bottom: 3px solid #2c3e50;
}
a {
  text-decoration: none;
}
#tag-label {
  margin-top: 0px;
}
.canvas-container-display {
  text-align: center;
  padding-left: 50px;

}

.display-canvas {

  width: 800px;

  margin: 0 auto;
  /*margin: 20px 20px;*/

}

.form {
  margin-top: 15px;
}

h2.title-header {
  margin-top: 15px;
  display: inline-block;
}
.landing {
  text-align: center;
}
h1.landing {
  font-size: 24px;
  margin: 15px;
}
.landing li {
  text-align: left;
  margin-left: 40%;
 }
