body {
  font-family: Arial;
}
.nav {
  position: fixed;
  width: 100%;
  margin: 0px;
  background-color: #2c3e50;
  color: #bdc3c7;
  font-size: 24px;
  padding-bottom: 10px;
  z-index: 101;
}
.nav h2 {
  margin-left: 20px;
  margin-top: 18px;
  float: left;
}
.nav a {
  color: #bdc3c7;
}
.nav ul {
  text-align: right;
}
.nav li {
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: right;
  display: inline-block;
  margin-right: 15px;
  font-size: 18px;
}
.second li {
  margin-top: 14px;
  padding: 0px;
  font-size: 16px;
}
.second h2 {
  margin-top: 10px;
  padding: 0px;
  padding-left: 10%;
  margin-bottom: 5px;
}
.nav-case{
  position: static;
  min-height: 90px;
}
.second {
  width: 100%;
  margin-top: 45px;
  color: #3DDDFF;
  font-size: 20px;
  padding: 0px;
  background-color: #34495e;
}
.event-info {
  text-align: center;
  margin: 15px;
}
.no-books#tabs {
  max-width: 40%;
  float: left;
}
.no-books h1 {
  font-size: 24px;
}
.no-books div {
  display: block;
  text-align: center;
}
.scrapbooks {
display: none;
margin: 15px;
text-align: center;
}
.no-books #canvas {
  width: 400px;
  height: 100px;
  background-color: #bdc3c7;
  padding: 2%;
  margin-right: 10%;
}
.no-books#container {
  background-color: white;
}
.book {
  width: 600px;
  overflow: scroll;
}
#container{
  clear: top;
  position: relative;
  max-width: 100%;
  min-width: 1100px;
  overflow: scroll;
  background-color: #ecf0f1;
}
#saved {
  display: none;
}
#buttons {
  text-align: center;
  background-color: #2980b9;
  background-image: none;
  border: none;
  border-radius: 0px;
  padding: 0px;
  display: inline-block;
  float: left;
  margin: 0px;
  position: fixed;
  z-index: 100;
}
#tabs {
  background-color: #2980b9;
  background-image: none;
  border: none;
  border-radius: 0px;
  padding: 0px;
  display: inline-block;
  float: left;
  margin: 0px;
  position: fixed;
  height: 600px;
  overflow: scroll;
  z-index: 100;
  border: none;
}
#tabs-div {
  padding-top: 20px;
}
#buttons ul li, #button {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-image: none;
  background-color: #3498db;
  width: 28%;
  border-top: 1px solid #2c3e50;
  border-left: 3px solid #2c3e50;
  border-right: 1px solid #2c3e50;
  border-bottom: 3px solid #2c3e50;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 1%;
  border-radius: 10px;
}
#button {
  width: 70%;
}
#buttons a {
  color: black;
}
#buttons ul {
  margin-top: 10px;
  margin-left: 3%;
  background-color: #2980b9;
  background-image: none;
  border: none;
  text-align: center;
}
a {
  text-decoration: none;
}
div.palette {
  margin: 10px;
  background-color: red;
}


