body {
  font-family: Arial;
}
.nav {
  margin: 0px;
  padding: 15px;
  background-color: #2c3e50;
  color: #bdc3c7;
  font-size: 24px;
}
.nav h2 {
  float: left;
}
.nav a {
  color: #bdc3c7;
}
.nav ul {
  text-align: right;
}
.nav li {
  text-align: right;
  display: inline-block;
  margin-right: 5%;
  font-size: 20px;
}
.second li {
  font-size: 16px;
  padding-left: 0px;
}
.second {
  margin-top: -10px;
  color: #3DDDFF;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10%;
  background-color: #34495e;
}
.event-info {
  text-align: center;
  margin: 15px;
}
.event-items {
  display: inline-block;
  float: left;
  padding: 2%;
  padding-top: 10px;
  margin: 0px;
  background-color: #2980b9;
  max-width: 25%;
  height: 600px;
  overflow: scroll;
}
.no-books {
  float: right;
  text-align: center;
  width: 600px;
  overflow: scroll;
  position: relative;
}
.no-books h1 {
  font-size: 24px;
}

.no-books div {
  display: block;
}

.no-books #canvas {
  width: 400px;
  margin: 0px 15%;
  height: 100px;
  background-color: #bdc3c7;
  padding: 2%;
}
.book {
  width: 600px;
  overflow: scroll;
}
.event-info {
  display: none;
}
#tabs {
  width: 100%;
  text-align: center;
  background-color: #2980b9;
  background-image: none;
  border: none;
}

#tabs ul li {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-image: none;
  background-color: #3498db;
  width: 45%;
  border-top: 2px solid #2c3e50;
  border-left: 5px solid #2c3e50;
  border-right: 2px solid #2c3e50;
  border-bottom: 5px solid #2c3e50;
  margin-bottom: 15px;
  padding: 2% 1%;
  border-radius: 10px;
}
#tabs ul {
  background-color: #2980b9;
  background-image: none;
  border: none;
}
a {
  text-decoration: none;
}
