body {
  font-family: Arial;
}
.nav {
  margin: 0px;
  padding: 15px;
  background-color: #262626;
  color: #D6D6D6;
  font-size: 24px;
}
.nav h2 {
  float: left;
}
.nav a {
  color: #A2A2AB;
}
.nav ul {
/*  background-color: #262626;*/
  text-align: right;
}
.nav li {
  text-align: right;
  display: inline-block;
  margin-right: 5%;
/*  background-color: #262626;*/
  font-size: 20px;
}
.second li {
  font-size: 16px;
  padding-left: 0px;
}
.second {
  margin-top: -10px;
  color: #16FFCE;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10%;
  background-color: #3B3E47;
}
.event-info {
  text-align: center;
  margin: 15px;
}
.event-items {
  float: left;
  padding: 2%;
  margin: 0px;
  background-color: #F08817;
  /*max-width: 50%;*/
  max-width: 300px;
  position: fixed;
  overflow: scroll;
  height: 85%;
}
.no-books {
  float: right;
  text-align: center;
  width: 45%;
}
.no-books h1 {
  font-size: 24px;
}

.no-books div {
  display: block;
}

.no-books #canvas {
  width: 66%;
  margin: 0px 15%;
  height: 100px;
  background-color: gray;
  padding: 2%;
}

.books .event-info {
  display: none;
}
#tabs {
  width: 100%;
  text-align: center;
  background-color: #F08817;
  border: none;
}
#tabs li {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 45%;
  border-top: 1px solid black;
  border-left: 5px solid black;
  border-right: 1px solid black;
  border-bottom: 5px solid black;
  margin-bottom: 15px;
  padding: 2% 1%;
  border-radius: 10px;
}

a {
  text-decoration: none;
}
