.instagram {
  width: 90%;
  background: white;
  padding: 15px 15px 15px 15px;
  background: #fff;
  box-shadow: 0 1px 4px #888;
  overflow: hidden;
}


.instaUser {
  color: red;
}

.insta-image img {
  width: 100%;
  height: auto;
  width: auto\9;
  max-width: 100%;
  vertical-align: middle;
  border: 0;

}

.insta-image {
  margin-bottom: 10px;
}

.instaUser {
  color: blue;
  font-size: 75%;
  font-family: "Architects Daughter";

}

.instaCaption {
  font-size: 20px;
}

.instaText {
  text-align: center;
  font-size: 75%;
  font-family: "Architects Daughter";
}

#notice {
  color: red;
}

.event-form {
  text-align: center;
}
.tweet-text {
  text-align: center;
  font-size: 75%;
  font-family: "Architects Daughter";
}


