.event-container {
  width: 700px;
}

.userevents {
  padding-left: 40px;
  padding-top: 30px;
}

.preview {
  width: 150px;
  height: 101px;
  display: inline-block;
}

.new-scrapbook {
  width: 144px;
  height: 95px;
  background-color: white;
  border: 3px grey dotted;
  text-align: center;
  display: inline-block;
}

.add-image {
  height: 50px;
  width: 50px;
  position: absolute;
}

.title-header {
  font-size: 20px;
  margin-top: 20px;
}

#events-header {
  margin-top: 30px;
  font-size: 30px;
}
