.hidden {
  display: none;
}

#tabs, #canvas {
  float: left;
  height: 750px;
}

#tabs {
  overflow: scroll;
  max-width: 25%;
  background-color: grey;
}

#tab-1 {}
#tab-2 {}

#canvas {
  width: 900px;
  background-color: red;
}

img {
  width: 90%;
}

.tweet-container {
  background-color: white;
  border: 3px black solid;
  margin: 3px 0;
  padding: 3px;
}

#canvas .tweet-container {
  overflow: hidden;
}

.default-size {
  width: 150px;
  height: 150px;
}

.img-container {
  display: inline-block;
  width: 200px;
  width: 200px;
}

.image-container img {
  width: 100%;
}


