/*.hidden {
  display: none;
}

#tabs, #canvas {
  overflow: scroll;
  float: left;
  height: 500px;
}

#tabs {
  width: 33%;
  background-color: grey;
}

#tab-1 {}
#tab-2 {}

#canvas {
  width:66%;
  background-color: red;
}

.image-container img {
  width: 100%;
}

.tweet-container {
  background-color: white;
  border: 3px black solid;
  margin: 3px 0;
  padding: 3px;
}

#canvas .tweet-container {
  overflow: hidden;
}

.default-size {
  width: 150px;
  height: 150px;
}

.image-container {
  display: inline-block;
}


*/
