.hidden {
  display: none;
}

#tabs, #canvas {
  float: left;
}

#tabs {
 /* max-width: 25%;
 background-color: grey;*/
}

#tabs-1 {
  background-color: #2980b9;
}
.no-books#tabs-3 {
  display: none;
}
.no-books ul:nth-child(3) {
  display: none;
}
#canvas-container {

}

#canvas {
  width: 900px;
  background-color: #ecf0f1;
  height: 600px;
  float: right;
  border: 5px solid black;
  margin: 1px;
}

img {
  width: 90%;
}

.tweet-container {
  background: url("/paper_2.jpg") no-repeat center;
  margin: 3px 0;
  padding: 3px;
  max-width: 376px;
  max-height: 299px;
}

#canvas .tweet-container {
  overflow: hidden;
}

.default-size {
  width: 150px;
  height: 150px;
}

.img-container {
  display: inline-block;
  width: 200px;
  width: 200px;
}

.image-container img {
  width: 100%;
}
